<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.meefik.linuxdeploy"
    android:versionCode="144"
    android:versionName="1.5.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BlackTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".PropertiesActivity"
            android:icon="@drawable/ic_launcher_properties"
            android:label="@string/title_activity_properties" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".ProfilesActivity"
            android:icon="@drawable/ic_launcher_profiles"
            android:label="@string/title_activity_profiles" >
        </activity>
        <activity
            android:name=".ScriptsActivity"
            android:label="@string/title_activity_scripts" >
        </activity>
        <activity
            android:name=".MountsActivity"
            android:label="@string/title_activity_mounts" >
        </activity>
        <activity android:name=".FullscreenActivity" >
        </activity>

        <receiver
            android:name=".EventsReceiver"
            android:enabled="false"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ExecService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
